<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <%= csrf_meta_tags %>
    <%= render :partial => 'application/header-tags' %>
    <%= javascript_pack_tag 'user-search-bundle' %>
  </head>  
  <body>
    <%= render :partial => 'application/navigation' %>
    <%= yield %>
  </body>
</html>
